.land {
    width: 100%;
    height: 1000;
}

.heroImgContainer {
    z-index: -1;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    min-height: 300px;
    overflow: hidden;
    position: relative;
}

.heroImg {
    /*min-height: 100%;*/
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    transform: translateY(-25%);
}

.logoImg {
    z-index: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logoContainer {
    z-index: 1;
    position: relative;
    background: white;
    width: 30%;
    min-width: 275px;
    margin: 10px 20px 0px 20px;
    border-radius: 10px;
    padding: 5px;
}

.mobileHeader {
    margin-top: 140px;
    text-align: center;
}

.headText {
    margin-top: 20px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.heading {
    color: #1890ff;
    font-size: 40px;
}

.subHeading {
    margin-bottom: 30px;
    margin-top: -10px;
    font-size: 30px
}

.callToAction {
    font-size: 20px;
}