
.pageContainer {
    padding: 10px;
    margin: 20px;
}

#siteColor {
    color: #1890ff
}

.ant-menu-item-selected, .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
    color: #fff;
}

.ant-page-header {
    background: none;
}