
.word:hover {
    text-decoration: underline;
    text-decoration-color: #1890ff;
    cursor: pointer;
    background-color: azure;
}

::selection {
    text-decoration-line: underline;
    text-decoration-color: cadetblue;
    background-color: #1890ff;
    color: white;
}

.icon {
    font-size: 75px;
    color: #d3d3d3;
}

.icon:hover {
    color: #1890ff;
}

